html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
a {text-decoration: none; color: #999;  font-size: 12px;}
/*设置全局样式*/
body {
    color: #999;
    font-size: 12px;
    font-family:"微软雅黑";
    background-color: #f5f5f5;
}
.top {
    width:100%;
    height: 60px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.top .top_in {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.top .top_in .top_left {
    width: 190px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.top .top_in .top_right {
    width: 740px;
    height: 100%;
    float: right;
}
.top .top_in .top_right .top_nav {
    width: 550px;
    height: 100%;
    float: left;
}
.top .top_in .top_right .top_nav ul li{
    float: left;
}
.top .top_in .top_right .top_nav ul li a {
    font-size: 16px;
    color: #fff;
    font-weight:bold;
    margin-left: 40px;
    line-height: 60px;
}
.top .top_in .top_right .top_login {
    width: 150px;
    height: 100%;
    float: right;
}
.top .top_in .top_right .top_login ul li {
    float: right;
}
.top .top_in .top_right .top_login ul li:nth-child(3) {
    width: 30px;
    height: 30px;
    background-image: url("../images/nubia-syb-all.png");
    margin-top: 15px;
    margin-right: 15px;
}
.top .top_in .top_right .top_login ul li a {
    line-height: 60px;
    margin-right: 15px;
}
.top .top_in .top_right ul li a:hover {
    color: #e82c07;
}
.banner {
    width:100%;
    height: 860px;
    margin-top: 50px;
}
.banner .nav_out {
    width: 100%;
    height: 121px;
    position: absolute;
    background-color: white;
    z-index: 998;
}
.banner .nav_out .nav {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.banner .nav_out .nav ul {
    width: 1200px;
    height: 100%;
    padding-left: 75px;
    box-sizing: border-box;
}
.banner .nav_out .nav ul li {
    width: 150px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.banner .nav_out .nav ul li:hover {
    border-bottom: solid;
    border-bottom-color: #e82c07;
}
.banner .nav_out .nav ul li img {
    height: 80px;
    margin-top: 15px;
}
.banner .nav_out .nav ul li span {
    color: #e82c07;
}
.banner .figure {
    width: 100%;
    height: 600px;
    text-align: center;
    position: relative;
}
.banner .figure img{
    margin: 0 -100%;
    height: 600px;
}
.banner .figure ol {
    width: 150px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -75px;
}
.banner .figure ol li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    border: 2px solid transparent;
    float: left;
    margin-left: 17px;
    margin-top: 4px;
    transition: all 0.25s;
}
.banner .figure ol li:hover {
    transform: scale(1.2, 1.2);
    border: 2px solid red;
    background: transparent;
}
.banner .video {
    width: 100%;
    height: 250px;
    margin-top: 10px;
}
.banner .video ul {
    width: 1200px;
    height: 250px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.banner .video>ul>li {
    width: 396px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.banner .video>ul>li>img {
    height: 250px;
    margin:0 -100%;
}
.banner .video ul li .video_info {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left:-30px;
    bottom: 40px;
    opacity: 0;
}
.banner .video ul li .video_info h3 {
    color: white;
    font-size: 16px;
    line-height: 40px;
}
.banner .video ul li .video_info p {
    color: white;
}
.banner .video>ul>li:hover {
    opacity: 0.5;
}
.banner .video>ul>li:hover .video_info{
    opacity: 1;
}
.banner .video>ul>li:hover .video_info>img{
    animation: sport 2s .5s ease-in-out infinite;
}
@keyframes sport {
    20%{  transform: scale(.8);}
    40%{  transform: scale(1.2);}
    60%{  transform: scale(.9);}
    80%{  transform: scale(1);}
    100%{  transform: scale(1);}
}
.content {
    width:100%;
    height: 1883px;
    overflow: hidden;
    text-align: center;
}
.content dl h3{
    font-size: 36px;
    color:#333;
    margin-top: 40px;
    margin-bottom: 20px;
}
.content dl .content_phone {
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
}
.content dl ul li{
    overflow: hidden;
    position: relative;
    background-color: white;
}
.content dl .content_phone .phone_desc {
    bottom: 15px;
    left: 50%;
    position: absolute;
    margin-left: -80px;
}
.content dl .content_phone  li:nth-child(1) .phone_desc{
    left: 0%;
    margin-left: 800px;
    bottom: 150px;
}
.content dl .content_phone .phone_desc h4 {
    font-size: 20px;
    color: #000;
}
.content dl .content_phone .phone_desc p {
    font-size: 15px;
    margin-bottom: 10px;
}
.content dl .content_phone .phone_desc span {
    display: inline-block;
    width: 108px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    line-height: 32px;
    color: #000;
}
.content dl .content_phone>li:nth-child(1) {
    width: 100%;
    height: 395px;
    float: left;
    margin-bottom: 10px;
}
.content dl .content_phone>li:nth-child(2) {
    width: 395px;
    height: 795px;
    float: left;
    margin-right: 10px;
}
.content dl .content_phone>li:nth-child(3) {
    width: 795px;
    height: 390px;
    float: left;
    margin-bottom: 10px;
}
.content dl .content_phone>li:nth-child(4) {
    width: 390px;
    height: 395px;
    float: left;
    margin-right: 10px;
}
.content dl .content_phone>li:nth-child(5) {
    width: 395px;
    height: 395px;
    float: left;
}
.content dl ul li img {
    transition: all 1s;
}
.content dl .content_phone>li:nth-child(1) img {
    margin-top: 60px;
    width: 1200px;
    margin-left:-200px;
}
.content dl .content_phone>li:nth-child(2) img {
    width: 395px;
}
.content dl .content_phone>li:nth-child(3) img {
    width: 795px;
    margin-left: 100px;
}
.content dl .content_phone>li:nth-child(4) img {
    width: 390px;
}
.content dl .content_phone>li:nth-child(5) img {
    width: 395px;
}
.content dl .content_phone>li:nth-child(1):hover img{
    margin-left: 0px;
}
.content dl .content_phone>li:nth-child(2):hover img{
    transform: scale(1.2,1.2);
}
.content dl .content_phone>li:nth-child(3):hover img{
    margin-left: 0;
}
.content dl .content_phone>li:nth-child(4):hover img{
    transform: scale(1.2,1.2);
}
.content dl .content_phone>li:nth-child(5):hover img{
    transform: scale(1.2,1.2);
}
.content .content_accessories {
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.content .content_accessories li {
    width: 295px;
    height: 100%;
    background-color: white;
    float: left;
}
.content .content_accessories li img {
    width: 295px;
    transition: all 1s;
}
.content .content_accessories li p {
    margin-top: 20px;
}
.content .content_accessories li:hover img {
    transform: scale(1.2, 1.2);
}
.footer {
    width:100%;
    height: 396px;
    border-top: solid;
    border-top-width: 0.5px;
    box-sizing: border-box;
}
.footer .footer-top {
    height: 87px;
    width: 100%;
    overflow: hidden;
}
.footer .footer-top div {
    width: 78px;
    height: 13px;
    margin-left: 100px;
    margin-top: 58px;
}
.footer .footer-top div img {
    height: 13px;
}
.footer .footer-top div span {
    line-height: 13px;
    margin-top: 0;
}
.footer .footer-content {
    height: 149px;
    width: 100%;
}
.footer .footer-content ul {
    width: 600px;
    height: 100%;
    margin-left: 100px;
}
.footer .footer-content ul li {
    width: 200px;
    height: 100%;
    float: left;
}
.footer .footer-content ul li dl dt h5 {
    color: #000;
    font-size: 14px;
    line-height: 30px;
}
.footer .footer-content ul li dl dd a {
    line-height: 20px;
}
.footer .footer-content ul li dl dd a:hover {
    color: #e82c07;
}
.footer .footer_bottom .footer_copyRight {
    float: left;
    width: 617px;
    height: 30px;
    margin-top: 14px;
    margin-left: 100px;
}
.footer .footer_bottom .footer_copyRight li {
    float: left;
    line-height: 30px;
}
.footer .footer_bottom .footer_copyRight li a {
    padding: 10px;
    font-size: 10px;
}
.footer .footer_bottom .footer_copyRight li a:hover {
    color: black;
}
.footer .footer_bottom .footer_social {
    float: left;
    width: 395px;
    height: 30px;
    margin-left: 50px;
    margin-top: 14px;
    font-size: 20px;
}
.footer .footer_bottom .footer_social li a{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    float: left;
    background: url("../images/nubia-syb-all.png");
}
.footer .footer_bottom .footer_social li:nth-child(1) a{
    background-position: -246px 0px;
}
.footer .footer_bottom .footer_social li:nth-child(2) a{
    background-position: -186px 0px;
}
.footer .footer_bottom .footer_social li:nth-child(3) a{
    background-position: -126px 0px;
}
.footer .footer_bottom .footer_social li:nth-child(4) a{
    background-position: -156px 0px;
}
.footer .footer_bottom .footer_info {
    float: left;
    margin-left: 100px;
}



